## Uso del suelo 2011

En este notebook procesaremos un .xlsx con el número de hectáreas de uso del suelo; industrial, residencial, terciario y otros, desagregado por municipios.  

Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Uso Industrial
- Uso Residelcial
- Uso Terciario
- Otros Usos

In [1]:
import pandas as pd
import numpy as np

In [2]:
UsoSuelo11 = pd.read_excel('28_Input_Uso_Suelo_11.xlsx', dtype = {'Código' : str})

UsoSuelo11.head()

,Código,Etiqueta,industrial,residencial,terciario,otros
0,01001,Alegría-Dulantzi,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible
1,01002,Amurrio,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible
2,01003,Aramaio,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible
3,01004,Artziniega,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible
4,01006,Armiñón,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible

In [3]:
UsoSuelo11.drop('Etiqueta', axis = 1, inplace = True)
UsoSuelo11.rename({'Código':'Codigo Municipio',
                  'industrial' : 'Uso Industrial',
                  'residencial' : 'Uso Residelcial',
                  'terciario' : 'Uso Terciario',
                  'otros' : 'Otros Usos'}, axis = 1, inplace = True)

UsoSuelo11.head()

,Codigo Municipio,Uso Industrial,Uso Residelcial,Uso Terciario,Otros Usos
0,01001,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible
1,01002,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible
2,01003,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible
3,01004,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible
4,01006,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible,N/A - resultado no disponible

Algunas variables toman el valor: N/A - resultado no disponible.  
Lo sustituimos por NaN:

In [4]:
UsoSuelo11.replace('N/A - resultado no disponible', np.nan, inplace = True)

In [5]:
UsoSuelo11.to_csv('28_Output_Uso_Suelo_11.csv', header = True, index = False)