## Impuestos ayuntamientos 2011
En este notebook procesaremos un .xlsx con el total de impuestos que recauda cada municipio.  
Obtendremos un DataFrame con la siguiente información:
- Codigo Municipio
- Total impuestos (Miles €)

In [1]:
import pandas as pd

In [2]:
Impuestos11 = pd.read_excel('33_Input_Impuestos_11.xlsx', dtype = {'Prov' : str,'Corp' : str}, 
                            usecols = ['Prov', 'Corp', 'Impuestos directos', 'Impuestos indirectos'])

Impuestos11.head()

  Prov Corp  Impuestos directos  Impuestos indirectos
0   01  001           770732.67               58000.0
1   02  001           163595.62               36480.0
2   03  001           134300.00                2000.0
3   04  001           336000.00              180100.0
4   05  001                0.00                   0.0

Creamos el campo Codigo Municipio

In [3]:
Impuestos11['Codigo Municipio'] = Impuestos11['Prov'].map(str)+Impuestos11['Corp'].map(str)

Impuestos11.head()

  Prov Corp  Impuestos directos  Impuestos indirectos Codigo Municipio
0   01  001           770732.67               58000.0            01001
1   02  001           163595.62               36480.0            02001
2   03  001           134300.00                2000.0            03001
3   04  001           336000.00              180100.0            04001
4   05  001                0.00                   0.0            05001

Creamos una única columna con la suma de los impuestos directos e indirectos y lo pasamos a Miles de euros

In [4]:
Impuestos11['Total impuestos (Miles de €)'] = (Impuestos11['Impuestos directos'] \
                                                   + Impuestos11['Impuestos indirectos'])/1000

Impuestos11.head()

,Prov,Corp,Impuestos directos,Impuestos indirectos,Codigo Municipio,Total impuestos (Miles de €)
0,01,001,770732.67,58000.0,01001,828.73267
1,02,001,163595.62,36480.0,02001,200.07562
2,03,001,134300.00,2000.0,03001,136.30000
3,04,001,336000.00,180100.0,04001,516.10000
4,05,001,0.00,0.0,05001,0.00000

In [5]:
Impuestos11.drop(['Prov','Corp', 'Impuestos directos','Impuestos indirectos'], axis = 1, inplace = True)
PrimeraColumna = Impuestos11.pop('Codigo Municipio')
Impuestos11.insert(0,'Codigo Municipio', PrimeraColumna)

Impuestos11.head()

  Codigo Municipio  Total impuestos (Miles de €)
0            01001                     828.73267
1            02001                     200.07562
2            03001                     136.30000
3            04001                     516.10000
4            05001                       0.00000

In [6]:
Impuestos11.to_csv('33_Output_Impuestos_11.csv', header = True, index = False)