## Fichero Despoblacion para Tableau

En este notebook vamos a añadir al csv Despoblacion, el campo Natcode presente en los ficheros shp correspondientes a península y Canarias.  
Natcode es el campo que se va a utilizar para unir en Tableu, los dos mapas y el fichero Despoblacion.

In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
Path_peninsula = 'Recintos_Municipales/recintos_municipales_inspire_peninbal_etrs89.shp'
Peninsula = gpd.read_file(Path_peninsula)

Peninsula.head()

,INSPIREID,COUNTRY,NATLEV,NATLEVNAME,NATCODE,NAMEUNIT,CODNUT1,CODNUT2,CODNUT3,geometry
0,ES.IGN.BDDAE.34010404096,ES,https://inspire.ec.europa.eu/codelist/Administ...,Municipio,34010404096,Urrácal,ES6,ES61,ES611,"POLYGON ((-2.37995 37.38348, -2.38005 37.38547..."
1,ES.IGN.BDDAE.34010404903,ES,https://inspire.ec.europa.eu/codelist/Administ...,Municipio,34010404903,La Mojonera,ES6,ES61,ES611,"POLYGON ((-2.71831 36.81474, -2.71757 36.81405..."
2,ES.IGN.BDDAE.34011818188,ES,https://inspire.ec.europa.eu/codelist/Administ...,Municipio,34011818188,Villanueva Mesía,ES6,ES61,ES614,"POLYGON ((-4.03369 37.24215, -4.03279 37.24251..."
3,ES.IGN.BDDAE.34010404097,ES,https://inspire.ec.europa.eu/codelist/Administ...,Municipio,34010404097,Velefique,ES6,ES61,ES611,"POLYGON ((-2.45634 37.21622, -2.45601 37.21650..."
4,ES.IGN.BDDAE.34010404098,ES,https://inspire.ec.europa.eu/codelist/Administ...,Municipio,34010404098,Vélez-Blanco,ES6,ES61,ES611,"POLYGON ((-2.25680 37.88997, -2.25078 37.89718..."

In [3]:
Peninsula.crs

<Geographic 2D CRS: EPSG:4258>
Name: ETRS89
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: Europe - onshore and offshore: Albania; Andorra; Austria; Belgium; Bosnia and Herzegovina; Bulgaria; Croatia; Cyprus; Czechia; Denmark; Estonia; Faroe Islands; Finland; France; Germany; Gibraltar; Greece; Hungary; Ireland; Italy; Kosovo; Latvia; Liechtenstein; Lithuania; Luxembourg; Malta; Moldova; Monaco; Montenegro; Netherlands; North Macedonia; Norway including Svalbard and Jan Mayen; Poland; Portugal; Romania; San Marino; Serbia; Slovakia; Slovenia; Spain; Sweden; Switzerland; United Kingdom (UK) including Channel Islands and Isle of Man; Vatican City State.
- bounds: (-16.1, 32.88, 40.18, 84.73)
Datum: European Terrestrial Reference System 1989 ensemble
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [4]:
Path_canarias = 'Recintos_Municipales/recintos_municipales_inspire_canarias_wgs84.shp'
Canarias = gpd.read_file(Path_canarias)

Canarias.head()

,INSPIREID,COUNTRY,NATLEV,NATLEVNAME,NATCODE,NAMEUNIT,CODNUT1,CODNUT2,CODNUT3,geometry
0,ES.IGN.BDDAE.34053838046,ES,https://inspire.ec.europa.eu/codelist/Administ...,Municipio,34053838046,Tegueste,ES7,ES70,ES709,"POLYGON ((-16.32911 28.50832, -16.32953 28.508..."
1,ES.IGN.BDDAE.34053838047,ES,https://inspire.ec.europa.eu/codelist/Administ...,Municipio,34053838047,Tijarafe,ES7,ES70,ES707,"POLYGON ((-17.99258 28.74029, -17.99193 28.741..."
2,ES.IGN.BDDAE.34053838048,ES,https://inspire.ec.europa.eu/codelist/Administ...,Municipio,34053838048,Valverde,ES7,ES70,ES703,"MULTIPOLYGON (((-17.95880 27.69777, -17.95880 ..."
3,ES.IGN.BDDAE.34053838049,ES,https://inspire.ec.europa.eu/codelist/Administ...,Municipio,34053838049,Valle Gran Rey,ES7,ES70,ES706,"MULTIPOLYGON (((-17.34759 28.11326, -17.34758 ..."
4,ES.IGN.BDDAE.34053838050,ES,https://inspire.ec.europa.eu/codelist/Administ...,Municipio,34053838050,Vallehermoso,ES7,ES70,ES706,"MULTIPOLYGON (((-17.32959 28.08038, -17.32958 ..."

In [5]:
Canarias.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

Convertimos los puntos de los mapas a un mismo sistema de referencia:

In [6]:
Canarias = Canarias.to_crs(Peninsula.crs)

Unimos los dos ficheros:

In [7]:
Mapa = pd.concat([Peninsula, Canarias])
Mapa['Codigo Municipio'] = Mapa['NATCODE'].str.slice(start=6)
Mapa = Mapa[['NATCODE', 'Codigo Municipio']]

Mapa.head()

       NATCODE Codigo Municipio
0  34010404096            04096
1  34010404903            04903
2  34011818188            18188
3  34010404097            04097
4  34010404098            04098

In [8]:
Despoblacion = pd.read_csv('/home/dsc/Python/Despoblacion/5.Analisis_Preliminar_Variables/Despoblacion.csv', 
                           dtype = {'Codigo CCAA' : str, 'Codigo Provincia' : str, 'Codigo Municipio' : str})

Despoblacion.head()

,Nombre CCAA,Codigo CCAA,Nombre Provincia,Codigo Provincia,Nombre Municipio,Codigo Municipio,Poblacion Total,Poblacion Hombre,Poblacion Mujer,Superficie Km2,...,Nº Hogares si Internet,Nº Hogares no Internet,Nº Vehiculos,Nº Conductores,Deuda (Miles de €),Total impuestos (Miles de €),Superficie (Ha) Agricolas,Nº Explotaciones Agrícolas,Nº Explotaciones Ganaderas,Umbral
0,Pais Vasco,16,Araba/Álava,01,Alegría-Dulantzi,01001,2803.0,1466.0,1337.0,19.95,...,655.0,425.0,1947.0,1664.0,1843.0,828.73,1124.34,35.0,6.0,0.0
1,Pais Vasco,16,Araba/Álava,01,Amurrio,01002,10014.0,5030.0,4984.0,96.30,...,2360.0,1505.0,6906.0,6196.0,2166.0,3579.80,5568.50,381.0,367.0,0.0
2,Pais Vasco,16,Araba/Álava,01,Añana,01049,168.0,86.0,82.0,21.92,...,15.0,60.0,130.0,65.0,229.0,90.70,1212.00,20.0,9.0,1.0
3,Pais Vasco,16,Araba/Álava,01,Aramaio,01003,1496.0,784.0,712.0,73.02,...,315.0,260.0,1236.0,1014.0,431.0,616.46,2055.80,191.0,215.0,0.0
4,Pais Vasco,16,Araba/Álava,01,Armiñón,01006,229.0,112.0,117.0,12.97,...,65.0,30.0,205.0,145.0,0.0,0.00,859.32,19.0,2.0,0.0

Al fichero Despoblacion le unicmos el campo NATCODE con el que luego uniremos ambos ficheros en Tableau:

In [9]:
Despoblacion = Despoblacion.merge(Mapa, on = 'Codigo Municipio')

Despoblacion.head()

,Nombre CCAA,Codigo CCAA,Nombre Provincia,Codigo Provincia,Nombre Municipio,Codigo Municipio,Poblacion Total,Poblacion Hombre,Poblacion Mujer,Superficie Km2,...,Nº Hogares no Internet,Nº Vehiculos,Nº Conductores,Deuda (Miles de €),Total impuestos (Miles de €),Superficie (Ha) Agricolas,Nº Explotaciones Agrícolas,Nº Explotaciones Ganaderas,Umbral,NATCODE
0,Pais Vasco,16,Araba/Álava,01,Alegría-Dulantzi,01001,2803.0,1466.0,1337.0,19.95,...,425.0,1947.0,1664.0,1843.0,828.73,1124.34,35.0,6.0,0.0,34160101001
1,Pais Vasco,16,Araba/Álava,01,Amurrio,01002,10014.0,5030.0,4984.0,96.30,...,1505.0,6906.0,6196.0,2166.0,3579.80,5568.50,381.0,367.0,0.0,34160101002
2,Pais Vasco,16,Araba/Álava,01,Añana,01049,168.0,86.0,82.0,21.92,...,60.0,130.0,65.0,229.0,90.70,1212.00,20.0,9.0,1.0,34160101049
3,Pais Vasco,16,Araba/Álava,01,Aramaio,01003,1496.0,784.0,712.0,73.02,...,260.0,1236.0,1014.0,431.0,616.46,2055.80,191.0,215.0,0.0,34160101003
4,Pais Vasco,16,Araba/Álava,01,Armiñón,01006,229.0,112.0,117.0,12.97,...,30.0,205.0,145.0,0.0,0.00,859.32,19.0,2.0,0.0,34160101006

In [10]:
Despoblacion.to_csv('Despoblacion.csv', header = True, index = False)